<!--The content below is only a placeholder and can be replaced.-->
<div class="nav--container">

  <div class="nav--header">
    James & Taylor
    <div class="image--container">
      <img class="leaf-left" src="/assets/images/leaf.png">
      <img class="leaf-right" src="/assets/images/leaf.png">
    </div>
  </div>
  <div class="nav--links">
    <span><a routerLink="home">Home</a></span>
    <span><a routerLinkActive='active-link'>Our Story</a></span>
    <span><a routerLink='location' routerLinkActive='active-link'>Location</a></span>
    <span><a routerLink='bridalparty' routerLinkActive='active-link'>Bridal Party</a></span>
    <span><a routerLink='registry'>Registry</a></span>
    <span><a>Pics</a></span>
  </div>

</div>

<router-outlet></router-outlet>